img {
    height: 10rem;
}

.explore__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .explore__container {
        grid-template-columns: repeat(2, 1fr);
        background-color: transparent;
    }
    
}