img {
    height: 5rem;
}

.explore__container {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);  
}

.explore__content {
    display: flex;
}

.explore__container h1 {
    font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
    .explore__container {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .explore__content {
        justify-content: center;
        gap: 20px;
    }
}