.home__container {
    display: flex;
    flex-direction: column;
}
.main-quizz__section {
    height: 40%;
    margin-top: 2rem;
}

.explore-section {
    background-color: rgb(230, 234, 233);
    margin-top: 2rem;
    padding: 2rem;
}


@media screen and (min-width: 768px) {
    .explore__section {
        width: 80%;
    }

    .main-quizz__section {
        height: 60%;
        background: transparent;
    }
    
}