* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Boldonse", "Roboto", sans-serif;
}

:root {
    --color-main: #173359;
    --color-secondary: #cc5641;
    --color-white: #fff;
    --color-black: #000;
    --color-sectionOne: #ececec;
    --color-sectionTwo: #ececec;
    --color-gray900: #282727;
    --color-button: #e7eaef;
    --font-main: "Boldonse", "Roboto", sans-serif;
    --font-seconday: "Roboto", sans-serif;
}

body {
    background-color: var(--color-sectionTwo);
    color: var(--color-main);
}